body {
    padding: 5rem;
}
section {
    display: flex;
}
article {
    margin: 1rem;
    border: 2px solid #000000;
    padding: 2rem;
    height: 40vh;
    overflow: auto;
    animation: slideDown 0.4s ease 1 both;
}
section article:nth-child(1) {
    animation-delay:0.3s;
}
section article:nth-child(2) {
    animation-delay: 0.6s;
}
section article:nth-child(3) {
    animation-delay: 0.9s;
}
section article:nth-child(4) {
    animation-delay: 1.2s;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}